body {
    height: 100%;
    width: 100%;
    background-color: #EBF94A;
}
html {
    height: 100%;
    width: 100%;
}

.flex-container{
    display: flex;
}

.menu {
    background-color: #5A4CF4;
}
